#documentation
recursive-include docs/_build/html *

#Misc
include README.rst
include CHANGES.txt
include LICENSE.txt

# This ships headers for Murmurhash.
# We don't use these atm, so don't
# ship them.
#recursive-include include *.h
